<section>
	{% if rateLimit %}
		<p class="rate-limit">
			Quota: {{rateLimit.remaining}} / {{rateLimit.limit}}. Resets {{rateLimit.timeDistance}}
		</p>
	{% endif %}

	<form action="/submit-github-username" method="post">
		<label for="github-username-field">GitHub Username</label>
		<!-- https://api.github.com/users/umaar/starred?per_page=1 -->
		<input name="github-username-field" id="github-username-field" type="text" value="" required>

		<input type="submit">
	</form>

	<ul>
		{% for user in distinctUsers %}
			<li>
				<a href="/user/{{user.username}}">
					{{user.username}}
				</a>

				&nbsp; ({{user.count}})
			</li>
		{% endfor %}
	</ul>
</section>
