@mixin container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: $container-width;
	padding-left: 25px;
	padding-right: 25px;
}

* { box-sizing: border-box }

body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	background: white;
}

a {
	color: #00B7FF;
}

.alert {
	@include container;

	@media screen and (max-width: $mobile-breakpoint) {
		margin: 20px;
		width: initial;
	}

	margin-top: 20px;
	padding: 0 10px;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	font-weight: 400;
	line-height: 1.5;
}

.alert__danger {
	background-color: #f2dede;
	border-color: #ebcccc;
	color: #a94442;
}

.alert__success {
	background-color: #dff0d8;
	border-color: #d0e9c6;
	color: #3c763d;
}

.container {
	@include container;
}

input[type="submit"],
button[type="submit"] {
	font-size: 15px;
	padding: 10px;
}

.form-group {
	margin: 25px 0;
	display: flex;
	flex-direction: column;

	label {
		margin-bottom: 10px;
	}


	button[type="submit"],
	input[type="password"],
	input[type="email"] {
		padding: 10px;
		border: 1px solid #ddd;
		font-size: 15px;
	}
}
