
$mobile-breakpoint: 750px;
$container-width: 1280px;
$primary-blue: #2879ff;

@import 'base/base';
@import 'components/footer';
@import 'components/nav';
@import 'components/button';
@import 'pages/home';

